body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header start hear...*/
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
section header{
   position: absolute;
   top: 0;
   right: 0;
   margin: 10px;
  
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-right: 10px;
}

section header ul li a{
    text-decoration: none;
    color: #111;
    font-size: 15px;
}
section header ul li button{
    background-color: #4584ef;
    border: none;
    outline: none;
    padding: 8px 14px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
section header ul li button:hover{
    background-color:gray ;
    transition: 0.1s ease-in;
}
/* header end hear...*/

/* main start hear...*/
section .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 580px;
}
section .main .searchbox{
position: relative;
width: 100%;
margin-top: 20px;
}
section .main .searchbox .search{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 10px;
    border-radius: 30px;
    border: none;
    border: 1px solid #ccc;
    outline: none;
}
section .main .searchbox .icons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    pointer-events: none;
}
section .main .buttons{
    margin-top: 20px;
}
section .main .buttons button{
    margin: 0 5px;
    color: #555;
    padding: 12px 20px;
    border: none;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}
section .main .buttons button:hover{
    border: 1px solid #ccc;
}
section .main .ln{
    margin-top: 20px;
}
/* main end hear...*/


/*Footer start hear...*/
section .footer{
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    left: 0;
}
section .footer .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(0, 0, 0, 0.05);
}
section .footer .row ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .footer .row ul li{
    list-style: none;
    font-size: 14px;
    
}
section .footer .row ul li a{
    text-decoration: none;
    color: #5f6368;
    margin-right: 25px;
}

/* Footer end hear...*/

/*Mobile view*/
@media(max-width:768px){
    section .main .searchbox .search{
        width: 78%;
        margin-left: 10px;
    }
    section .main .searchbox .icons{
        width: 80%;
        margin-left: 10px;
    }
    section .footer .row ul{
        display: block;
    }
}